// Layout
$desktop: 400px;

// Colors
$clr--white: hsl(0, 0%, 100%);
$clr--text: hsl(215, 51%, 70%);
$clr--accent: hsl(178, 100%, 50%);
$clr--accent-tp: hsla(178, 100%, 50%, 0.5);
$clr--line: hsl(215, 32%, 27%);
$clr--bg-card: hsl(216, 50%, 16%);
$clr--bg-main: hsl(217, 54%, 11%);
$clr--black: hsl(0, 0%, 0%);

// Typography
$ff--main: 'Outfit', sans-serif;

$fs--main: 18px;

$fw--light: 300;
$fw--regular: 400;
$fw--bold: 600;
